body{
  margin: 0;
  padding: 0;
  background-color: azure;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root{
   margin: 0 24px;
   position: relative;
   min-height: 100vh;
}

.center {
  align-self: center;
}

.flow-right {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}
.modal-body input{
  border: none;
  width: 80%;
}
.modal-body button{
  float:right;
}
.containerButton {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
}

.title, .controls, .button {
  flex: none;
}

.button {
  padding: 10px 20px;
}

.todo-delete {
  margin: 10px;
}

.todo-checkbox {
  margin: 10px;
}